body {
  background-color: rgb(223, 223, 245);
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/253/original/jason-leung-OgcKJwRnx98-unsplash.jpg?1764516765");
  background-size: 100%;
  font-family: "Red Hat Display", sans-serif;
}
a {
  color: #3eac0b;
  text-decoration: none;
}
.weather-app {
  background-color: honeydew;
  opacity: 0.92;
  max-width: 650px;
  margin: 100px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}

header {
  border-bottom: 1px solid rgb(251, 225, 206);
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #0c79ff4b;
  width: 80%;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.search-form-button {
  background-color: #0c79ff;
  padding: 15px 30px;

  border: none;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  margin-left: 5px;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
}

.weather-app-details {
  font-size: 14px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 20px;
  font-weight: 400;
}
.weather-app-details strong {
  color: #fe6d0d;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-temperature-value {
  font-size: 90px;
  font-weight: 600;
  margin: 0 0 0 5px;
  line-height: 1;
}
.weather-app-temperature-unit {
  font-size: 33px;
  margin-top: 10px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #e951e2;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  border-top: 1px solid rgb(223, 223, 245);
  padding: 30px 0 0 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
